@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     Yo! Thanks for checking out the backend. Think you've got a bright idea?
    Send it to King Dani, he'll decide what to do with you.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>